Package: nems-scripts
Essential: yes
Priority: required
Section: main
Maintainer: NEMS Linux <nems@category5.tv>
Architecture: all
Version: 1.6.014
Provides: nems-scripts
Description: NEMS Scripts
Depends: apt-show-versions, memtester, npm
